body {
  font-family: 'Tahoma', 'Helvetica', sans-serif;
  color: #000000;
  margin: 0;
}

h1 {
  font-size: 26px;
  line-height: 39px;
}

h2 {
  font-size: 23px;
  line-height: 36px;
}

p {
  font-size: 18px;
  line-height: 27px;
}

header {
  overflow: hidden;
  padding: 10px;
  background-color: white;
  box-shadow: 20px 20px 10px grey;

}

section {
  overflow: hidden;
  text-align: center;
}

#esquerda {
  display: block;
  float: left;
  font-size: 21px;
  text-align: center;
}

#direita {
  display: block;
  float: right;
  font-size: 16px;
  text-align: right;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

footer {
  font-size: 18px;
  text-align: center;
  display: block;
  background-color: silver;
  padding: 10px;
}

div {
  display: inline-block;
}
